{% extends 'base.html.twig' %}

{% block body %}
    <input type="hidden" id="module" value="solicitudes">
    <div class="col-md-12">
        <h1>Solicitudtransfusions list</h1>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nombre y Apellidos</th>
                <th>Carnet de Identidad</th>
                <th>Urgencia</th>
                <th>Consentimiento</th>
                <th>Fecha a realizar</th>
                <th>Hora a realizar</th>
                <th>Fecha de Solicitud</th>
                <th>Hora de Solicitud</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitudTransfusion in solicitudTransfusions %}
                <tr>

                    <td>{{ solicitudTransfusion.pacienteid.nombre }} {{ solicitudTransfusion.pacienteid.apellidos }}</td>
                    <td>{{ solicitudTransfusion.pacienteid.ciPaciente }}</td>
                    <td>{{ solicitudTransfusion.urgencia }}</td>
                    <td>{{ solicitudTransfusion.consentimiento }}</td>
                    <td>{% if solicitudTransfusion.fechaARealizar %}{{ solicitudTransfusion.fechaARealizar|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if solicitudTransfusion.horaARealizar %}{{ solicitudTransfusion.horaARealizar|date('h:i') }}{% endif %}</td>
                    <td>{% if solicitudTransfusion.fecha %}{{ solicitudTransfusion.fecha|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if solicitudTransfusion.hora %}{{ solicitudTransfusion.hora|date('h:i:s') }}{% endif %}</td>
                    <td>{{ solicitudTransfusion.estado }}</td>
                    <td>

                        <a href="{{ path('solicitudtransfusion_show', { 'id': solicitudTransfusion.id }) }}"
                           class="btn btn-primary">Datos</a>

                        <a href="{{ path('solicitudtransfusion_edit', { 'id': solicitudTransfusion.id }) }}"
                           class="btn btn-danger">Editar</a>

                        {% if solicitudTransfusion.estado == 'No procesada' %}
                            <a href="{{ path('recepcionsolicitud_new', { 'id': solicitudTransfusion.id }) }}"
                               class="btn btn-success">Procesar</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('add_solicitud') }}">Create a new solicitudTransfusion</a>
            </li>
        </ul>
    </div>
{% endblock %}
