{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-md-offset-1">
        <h1>Solicitudtransfusions list</h1>

        <table class="table table-responsive">
            <thead>
            <tr>

                <th>Fecha de Solicitud</th>
                <th>Hora de Solicitud</th>

                <th>Urgencia</th>

                <th>Consentimiento</th>

                <th>Fecha a realizar</th>
                <th>Hora a realizar</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for solicitudTransfusion in solicitudTransfusions %}
                <tr>

                    <td>{% if solicitudTransfusion.fecha %}{{ solicitudTransfusion.fecha|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if solicitudTransfusion.hora %}{{ solicitudTransfusion.hora|date('h:i:s') }}{% endif %}</td>

                    <td>{{ solicitudTransfusion.urgencia }}</td>

                    <td>{{ solicitudTransfusion.consentimiento }}</td>

                    <td>{% if solicitudTransfusion.fechaARealizar %}{{ solicitudTransfusion.fechaARealizar|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if solicitudTransfusion.horaARealizar %}{{ solicitudTransfusion.horaARealizar|date('h:i') }}{% endif %}</td>
                    <td>{{ solicitudTransfusion.procesada }}</td>
                    <td>

                        <a href="{{ path('solicitudtransfusion_show', { 'id': solicitudTransfusion.id }) }}"
                           class="btn btn-info">Show</a>

                        <a href="{{ path('solicitudtransfusion_edit', { 'id': solicitudTransfusion.id }) }}"
                           class="btn btn-danger">Edit</a>

                        {% if solicitudTransfusion.procesada == 'No procesada' %}
                            <a href="{{ path('recepcionsolicitud_new', { 'id': solicitudTransfusion.id }) }}"
                               class="btn btn-success">Procesar</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('add_solicitud') }}">Create a new solicitudTransfusion</a>
            </li>
        </ul>
    </div>
{% endblock %}
