{% extends 'base.html.twig' %}


{% block body %}
    <input id="module" type="hidden" value="solicitud_pac">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Solicitudtransfusion creation</h1>
                <a href="{{ path('solicitudtransfusion_index') }}" class="btn btn-info">Back to the list</a>
            </div>

            <div class="panel-body">
                {{ form_start(form) }}
                <section class="col-xs-12 col-sm-4 col-md-4">
                    <h3>Datos del paciente:</h3>
                    <div >

                        <div>CI: {{ paciente.ciPaciente }}</div>

                        <div>Nombre: {{ paciente.nombre }}</div>

                        <div>Apellidos: {{ paciente.apellidos }}</div>

                        <div>Edad: {{ paciente.edad }}</div>

                        <div>Sexo: {{ paciente.sexo }}</div>

                        <div>Historia Clínica: {{ paciente.idHc }}</div>

                        <div>Peso (kgs): {{ paciente.peso }}</div>

                        <div>Grupo Sanguíneo: {{ paciente.tipoSangre }}</div>

                        <div>Factor Rh: {{ paciente.rh }}</div>

                        <div>Es Lactante: {{ paciente.lactante }}</div>

                        <div>
                            <input id="embarazos" type="hidden" value="{{ paciente.embarazos }}">
                            Embarazos Previos: {{ paciente.embarazos }}</div>

                        <div>Abortos Previos: {{ paciente.abortos }}</div>

                        <div>
                            {{ form_label(form.incompatibilidadMF, 'Incompatibilidad Materno-Fetal') }}
                            {{ form_row(form.incompatibilidadMF) }}
                        </div>
                    </div>
                </section>
                {#{{ form_row(form.Datos) }}#}

                <section class="col-xs-12 col-sm-4 col-md-8">
                    <h3>Datos de la solicitud:</h3>

                    <div class="col-md-4">
                        <div>
                            {{ form_label(form.ComponenteATransfundir, 'Componente a transfundir') }}
                            {{ form_row(form.ComponenteATransfundir) }}
                        </div>
                        <div>
                            {{ form_label(form.Diagnosticos, 'Diagnóstico') }}
                            {{ form_row(form.Diagnosticos) }}
                        </div>
                        <div>
                            {{ form_label(form.Motivos, 'Motivo de transfusión') }}
                            {{ form_row(form.Motivos) }}
                        </div>
                        {{ form_label(form.tipoCirugia, 'En caso de cirugía (tipo de intervención)') }}
                        {{ form_row(form.tipoCirugia) }}
                        {{ form_label(form.fechaARealizar, 'Fecha a Realizar transfusión') }}
                        {{ form_row(form.fechaARealizar) }}
                        {{ form_label(form.horaARealizar, 'Hora a realizar') }}
                        {{ form_row(form.horaARealizar) }}
                        {{ form_label(form.serviciosid, 'Servicio que solicita') }}
                        {{ form_row(form.serviciosid) }}
                        {{ form_label(form.sala, 'Sala') }}
                        {{ form_row(form.sala) }}
                        {{ form_label(form.cama, 'Cama') }}
                        {{ form_row(form.cama) }}
                        {{ form_label(form.urgencia, 'Urgencia') }}
                        {{ form_row(form.urgencia) }}
                    </div>


                    <div class="col-md-8 container">
                        <div class="col-md-12">
                            <h5 class="my-h5">Niveles de laboratorio:</h5>
                            <div class="col-md-3">{{ form_label(form.hb, 'Hb') }}
                                {{ form_row(form.hb) }}</div>
                            <div class="col-md-3">{{ form_label(form.tp, 'TP') }}
                                {{ form_row(form.tp) }}</div>
                            <div class="col-md-3">{{ form_label(form.tptk, 'TPTK') }}
                                {{ form_row(form.tptk) }}</div>
                            <div class="col-md-3">{{ form_label(form.plaquetas, 'Plaquetas') }}
                                {{ form_row(form.plaquetas) }}</div>
                        </div>

                        <div class="col-md-12">{{ form_label(form.fecha, 'Fecha de solicitud') }}
                            {{ form_row(form.fecha) }}
                            {{ form_label(form.hora, 'Hora de solicitud') }}
                            {{ form_row(form.hora) }}
                            {{ form_label(form.objetivo, 'Objetivo de Transfusión') }}
                            {{ form_row(form.objetivo) }}
                            {{ form_label(form.consentimiento, 'Consentimiento') }}
                            {{ form_row(form.consentimiento) }}
                        </div>


                        <div class="col-md-12"><label> Médico que solicita: </label>{{ app.user.nombre }}</div>
                        <div class="col-md-12"><label>No. Identificacion: </label>{{ app.user.noidentificacion }}</div>


                    </div>
                    <div class="my-right col-md-offset-1">
                        <input type="submit" value="Create" class="btn btn-success"/>
                        {{ form_end(form) }}
                    </div>
                </section>

            </div>

        </div>

    </div>

    {% include 'all-js.html.twig' %}
{% endblock %}
