<div class="col-xs-12 col-md-12 my-menu">
    <div class="extras"><a href="{{ path('inicio') }}" class="btn btn-default">Inicio</a></div>

    <div class="dropdown extras">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Ctrl de
            Unidades<span
                    class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('bolsa_index') }}">Listado de
                    Unidades</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('bolsa_new') }}">Recibir Unidades</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Información </a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>

    <div class="dropdown extras">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Ctrl de
            Pacientes<span
                    class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('paciente_index') }}">Listado de
                    Pacientes</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('paciente_new') }}">Agregar
                    Paciente</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Información </a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="dropdown extras">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Ctrl de
            Solicitudes<span
                    class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="dropdown-header">Acciones</li>

            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('add_solicitud') }}">Agregar
                    Solicitud</a></li>
            <li role="tab"></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Listados de Solicitudes</li>

            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('solicitudtransfusion_index') }}">General</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('solicitudtransfusion_noprocesadas') }}">Solicitudes No
                    Procesadas</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('solicitudtransfusion_procesadas') }}">Solicitudes
                    Procesadas</a>
            </li>
        </ul>
    </div>
    <div class="dropdown extras">
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Reportes<span
                    class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('bolsa_index') }}">Listado de
                    Unidades</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('bolsa_new') }}">Recibir Unidades</a>
            </li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Editar Información </a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
    </div>

</div>


