<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }} "></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }} "></script>


    <link rel="stylesheet" type="text/css" href="{{ asset('css/myStyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}">

</head>


<body class="login-body">
<div class="container well" id="login-sha">
    <form id="login_data" class="login" action="{{ path('login_check') }}" method="post" id="login">
        <div class="form-group">
            {% if error %}
                <div id="login_error" class="form-control alert-danger">Usuario o Contraseña incorrectos.</div>

            {% endif %}
            <label for="username">Usuario:</label>
            <div class="input-group">
                {% if last_username!=null %}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Usuario" value="{{ last_username }}"/>
                {% else %}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="username" name="_username" placeholder="Usuario"/>
                {% endif %}
            </div>

        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="ui-icon ui-icon-key"></span></span>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Contraseña"/>
            </div>

        </div>
        <input type="hidden" name="_target_path" value="/sistema/inicio"/>
        <input type="submit" name="login" class="btn btn-lg btn-success btn-block" value="Acceder"/>
    </form>
</div>
</body>
</html>







