{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recepcionsolicitud</h1>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recepcionSolicitud.id }}</td>
            </tr>
            <tr>
                <th>Muestra</th>
                <td>{{ recepcionSolicitud.muestra }}</td>
            </tr>

            <tr>
                <th>Pctiposangre</th>
                <td>{{ recepcionSolicitud.pcTipoSangre }}</td>
            </tr>
            <tr>
                <th>Pcrh</th>
                <td>{{ recepcionSolicitud.pcRh }}</td>
            </tr>
            <tr>
                <th>Pbantestemp</th>
                <td>{{ recepcionSolicitud.pbAntesTemp }}</td>
            </tr>
            <tr>
                <th>Pbantesta</th>
                <td>{{ recepcionSolicitud.pbAntesTa }}</td>
            </tr>
            <tr>
                <th>Pbantesfc</th>
                <td>{{ recepcionSolicitud.pbAntesFc }}</td>
            </tr>
            <tr>
                <th>Pbdurtemp</th>
                <td>{{ recepcionSolicitud.pbDurTemp }}</td>
            </tr>
            <tr>
                <th>Pbdurta</th>
                <td>{{ recepcionSolicitud.pbDurTa }}</td>
            </tr>
            <tr>
                <th>Pbdurfc</th>
                <td>{{ recepcionSolicitud.pbDurFc }}</td>
            </tr>
            <tr>
                <th>Pbdestemp</th>
                <td>{{ recepcionSolicitud.pbDesTemp }}</td>
            </tr>
            <tr>
                <th>Pbdesta</th>
                <td>{{ recepcionSolicitud.pbDesTa }}</td>
            </tr>
            <tr>
                <th>Pbdesfc</th>
                <td>{{ recepcionSolicitud.pbDesFc }}</td>
            </tr>
            <tr>
                <th>Causanopruebas</th>
                <td>{{ recepcionSolicitud.causaNoPruebas }}</td>
            </tr>
            <tr>
                <th>Fechatransfusion</th>
                <td>{% if recepcionSolicitud.fechaTransfusion %}{{ recepcionSolicitud.fechaTransfusion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horatransfusion</th>
                <td>{% if recepcionSolicitud.horaTransfusion %}{{ recepcionSolicitud.horaTransfusion|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecharecepcion</th>
                <td>{% if recepcionSolicitud.fechaRecepcion %}{{ recepcionSolicitud.fechaRecepcion|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Horarecepcion</th>
                <td>{% if recepcionSolicitud.horaRecepcion %}{{ recepcionSolicitud.horaRecepcion|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Reacciontransfusional</th>
                <td>{{ recepcionSolicitud.reaccionTransfusional }}</td>
            </tr>
            <tr>
                <th>Muestrareaccion</th>
                <td>{{ recepcionSolicitud.muestraReaccion }}</td>
            </tr>
            <tr>
                <th>Pruebapostransfusional</th>
                <td>{{ recepcionSolicitud.pruebaPostransfusional }}</td>
            </tr>
            <tr>
                <th>Notificacion</th>
                <td>{{ recepcionSolicitud.notificacion }}</td>
            </tr>
            <tr>
                <th>Cultivopostransfusional</th>
                <td>{{ recepcionSolicitud.cultivoPostransfusional }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recepcionsolicitud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recepcionsolicitud_edit', { 'id': recepcionSolicitud.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
