<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui.js') }} "></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }} "></script>


    <link rel="stylesheet" type="text/css" href="{{ asset('css/myStyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}">

</head>
<body class="well">


<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'templates/new-base.html.twig' %}
    </div>

</div>
<div class="container">
    <div>
        {% include 'templates/menus.html.twig' %}
    </div>
</div>

<div class="container my-panels">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% block body %}{% endblock %}
    </div>

</div>

{% block javascripts %}{% endblock %}
<div class="container">
    {% include 'templates/footer.html.twig' %}
</div>
</body>
</html>
