{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario creation</h1>
    {{ form_start(form) }}

    {% if  usuario.nombreUsuario != null %}
    {{ form.vars.value['existe'] }}
    {% endif %}
    {{ form_row(form.nombre_usuario) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.apellidos) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.no_identificacion) }}
    {{ form_row(form.rol) }}
    <button type="submit">Registrarse!</button>
    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
