{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="tile-hot">Motivotransfusions list</h1>
    <a href="{{ path('motivotransfusion_new') }}">Create a new motivoTransfusion</a>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Componente Asociado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for motivoTransfusion in motivoTransfusions %}
            <tr>
                <td>{{ motivoTransfusion.descripcion }}</td>
                <td>{{ motivoTransfusion.componente }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('motivotransfusion_show', { 'id': motivoTransfusion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('motivotransfusion_edit', { 'id': motivoTransfusion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('motivotransfusion_new') }}">Create a new motivoTransfusion</a>
        </li>
    </ul>
{% endblock %}
