{% extends 'base.html.twig' %}

{% block body %}
    <h1>Motivotransfusion creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('motivotransfusion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/myValidations.js') }}"></script>
{% endblock %}
