{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-10 col-md-offset-1">
        <h1>Pacientes list</h1>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Número de Identidad</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Sexo</th>


                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.ciPaciente }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.sexo }}</td>
                    <td>
                        <a href="{{ path('paciente_show', { 'id': paciente.id }) }}" class="btn btn-info">Datos</a>
                        <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}" class="btn btn-warning">Editar</a>
                        <a href="{{ path('paciente_delete', { 'id': paciente.id }) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
