{% extends 'base.html.twig' %}

{% block body %}
    <input id="module" type="hidden" value="paciente">
    <div class="col-md-12">
        <h1>Listado de Pacientes</h1>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Número de Identidad</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Grupo sanguíneo</th>
                <th>Factor Rh</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.ciPaciente }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellidos }}</td>
                    <td>{{ paciente.edad }}</td>
                    <td>{{ paciente.sexo }}</td>
                    <td>{{ paciente.tipoSangre }}</td>
                    <td>{{ paciente.rh }}</td>
                    <td>
                        <a href="{{ path('paciente_show', { 'id': paciente.id }) }}" class="btn btn-info">Datos</a>
                        <a href="{{ path('paciente_edit', { 'id': paciente.id }) }}" class="btn btn-warning">Editar</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
