{% extends 'base.html.twig' %}

{% block body %}

    <div class="shadow">
        <input id="module" type="hidden" value="paciente">
        <div id="show_paciente">
            <div class="panel panel-default my-panels">
                <div class="panel-heading">
                    <h2 class="h2 form-title">Información del paciente.</h2>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-sm-12 col-xs-12 col-lg-6">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 top-separator">
                            <h3>CI: {{ paciente.ciPaciente }}</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6 top-separator">
                            <h3>No. HC: {{ paciente.idHc }}</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <h3>Nombre: {{ paciente.nombre }} </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <h3>Apellidos: {{ paciente.apellidos }}</h3>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 top-separator">
                            <h3>Edad: {{ paciente.edad }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-lg-4 top-separator">
                            <h3>Sexo: {{ paciente.sexo }}</h3>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6 col-lg-6 top-separator">
                            <h3>Peso(kg): {{ paciente.peso }}</h3>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 col-lg-6">
                        <div class="col-md-12 col-sm-6 col-xs-6 col-lg-12 top-separator">
                            <h3>Tipo de sangre: {{ paciente.tipoSangre }}</h3>
                        </div>
                        <div class="col-md-12 col-sm-6 col-xs-6 col-lg-12 top-separator">
                            <h3>Factor: {{ paciente.rh }}</h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <h3>Lactante: {{ paciente.lactante }}</h3>
                        </div>

                        {% if paciente.embarazos=='SI' %}
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                                <h3>Embarazos previos: {{ paciente.embarazos }}</h3>
                            </div>
                        {% endif %}
                        {% if paciente.abortos=='SI' %}
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                                <h3>Abortos previos: {{ paciente.abortos }}</h3>
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 top-separator">
                            <a class="btn btn-primary btn-lg button-separator" href="{{ path('paciente_index') }}"><span
                                        class="glyphicon glyphicon-arrow-left"></span> Volver</a>
                            <a class="btn btn-warning btn-lg button-separator" href="{{ path('paciente_edit', { 'id': paciente.id }) }}"><span
                                        class="glyphicon glyphicon-edit"></span> Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
