{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pruebaslaboratorios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pruebasLaboratorio in pruebasLaboratorios %}
            <tr>
                <td><a href="{{ path('pruebaslaboratorio_show', { 'id': pruebasLaboratorio.id }) }}">{{ pruebasLaboratorio.id }}</a></td>
                <td>{{ pruebasLaboratorio.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pruebaslaboratorio_show', { 'id': pruebasLaboratorio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pruebaslaboratorio_edit', { 'id': pruebasLaboratorio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pruebaslaboratorio_new') }}">Create a new pruebasLaboratorio</a>
        </li>
    </ul>
{% endblock %}
