{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pruebaslaboratorio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pruebasLaboratorio.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ pruebasLaboratorio.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pruebaslaboratorio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pruebaslaboratorio_edit', { 'id': pruebasLaboratorio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
