{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12">
        <h1>Listado de Unidades</h1>
        <a href="{{ path('bolsa_new') }}" class="btn btn-primary">Agregar unidad</a>

        <table class="table table-responsive">
            <thead>
            <tr>

                <th>Codigo</th>
                <th>Componente</th>
                <th>Lote</th>
                <th>Fecha de donacion</th>
                <th>Fecha de vencimiento</th>
                <th>Grupo sanguineo</th>
                <th>Factor Rh</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for bolsa in bolsas %}
                <tr>

                    <td>{{ bolsa.codigo }}</td>
                    <td>{{ bolsa.componente }}</td>
                    <td>{{ bolsa.lote }}</td>
                    <td>{% if bolsa.fechaDonacion %}{{ bolsa.fechaDonacion|date('d-m-Y') }}{% endif %}</td>
                    <td>{% if bolsa.fechaVencimiento %}{{ bolsa.fechaVencimiento|date('d-m-Y') }}{% endif %}</td>
                    <td>{{ bolsa.grupoSanguineo }}</td>
                    <td>{{ bolsa.rh }}</td>
                    <td>
                        <a href="{{ path('bolsa_show', { 'id': bolsa.id }) }} " class="btn btn-info">show</a>
                        <a href="{{ path('bolsa_edit', { 'id': bolsa.id }) }}" class="btn btn-danger">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
