{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <h1 class="h1 form-title">Agregar unidad de sangre</h1>
        </div>

        {{ form_start(form) }}
        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.codigo, 'Codigo') }}
                {{ form_row(form.codigo) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.lote, 'Lote') }}
                {{ form_row(form.lote) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.volumen, 'Volumen') }}
                {{ form_row(form.volumen) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.procedencia, 'Procedencia') }}
                {{ form_row(form.procedencia) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.fechaDonacion, 'Fecha Producción') }}
                {{ form_row(form.fechaDonacion) }}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-4">
                {{ form_label(form.fechaVencimiento, 'Fecha Vencimiento') }}
                {{ form_row(form.fechaVencimiento) }}
            </div>


        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">

            <div class="col-md-7 col-sm-9 col-xs-12 col-lg-10">
                {{ form_label(form.componente, 'Componente Sanguíneo') }}
                {{ form_row(form.componente) }}
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                {{ form_label(form.grupoSanguineo, 'Grupo Sanguíneo') }}
                {{ form_row(form.grupoSanguineo) }}
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-6">
                {{ form_label(form.rh, 'Factor Rh') }}
                {{ form_row(form.rh) }}
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-4">

                {{ form_label(form.muestra, '¿Muestra tomada?') }}
                {{ form_row(form.muestra) }}
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                {{ form_label(form.problemas, 'Problemas con la unidad') }}
                {{ form_row(form.problemas) }}
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 submit-div">
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="Create"/>
                {{ form_end(form) }}
                <a href="{{ path('bolsa_index') }}" class="btn btn-primary">Back to the list</a>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6 submit-div">

            </div>
        </div>

        {% include 'all-js.html.twig' %}

    </div>
{% endblock %}



